@mixin on-mobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin glass-hover-effect {
  transition: box-shadow 0.3s ease, backdrop-filter 0.3s ease-in-out;

  &:hover {
    transition-delay: 0.3s;
    backdrop-filter: blur(12px);

    box-shadow:
      0px 0px 16px 0px rgba(242, 242, 242, 0) inset,
      0px 0px 3px 0px rgba(255, 255, 255, 0.5) inset,
      -1px -1px 0.5px -1px rgba(255, 255, 255, 1) inset,
      1px 1px 0.5px -1px rgba(255, 255, 255, 1) inset,

      -1px -1px 0px -0.5px rgba(38, 38, 38, 1) inset,
      1px 1px 0px -0.5px rgba(51, 51, 51, 1) inset,

      0px 1px 8px 0px rgba(0, 0, 0, 0.12),
      0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  }
}