@mixin responsive-title($tablet-size, $mobile-size) {
  font-size: $tablet-size;

  @media (max-width: 400px) {
    font-size: $mobile-size;
  }
}

@mixin glass-hover-effect {
  &:hover {
    transition-delay: 0.2s;
    backdrop-filter: blur(12px);

    box-shadow: 0px 0px 16px 0px rgba(242, 242, 242, 0) inset,
      0px 0px 3px 0px rgba(255, 255, 255, 0.5) inset,
      -1px -1px 0.5px -1px rgba(255, 255, 255, 1) inset,
      1px 1px 0.5px -1px rgba(255, 255, 255, 1) inset,
      -1px -1px 0px -0.5px rgba(38, 38, 38, 1) inset,
      1px 1px 0px -0.5px rgba(51, 51, 51, 1) inset,
      0px 1px 8px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  }
}

@mixin glass-active-effect {
  backdrop-filter: none;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset,
    -2px -2px 4px rgba(255, 255, 255, 0.2) inset;

  transform: scale(0.95);
}
