
// .header-container {
//   display: flex;
//   // height: 64px;
//   align-items: center;
//   justify-content: center;
//   padding: 0 22px;
//   position: sticky;
//   top: 16px;



//   .header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     box-sizing: border-box;
  
//     // top: var(--sticky-offset);
//     z-index: 100;
//     // padding-bottom: 32px;
//     margin-bottom: 32px;
//     // margin-left: 22px;
//     // margin-right: 22px;
//     // margin: auto;
//     width: 100%;
  
//     height: 48px;
//     max-width: 624px;
//     border-radius: 64px;
//     padding: 4px 8px 4px 16px;
//     background-color: var(--header-bg);
  
//     box-shadow:
//       -2.82px -2.82px 8.49px 0px rgba(255, 255, 255, 0.3),
//       14.15px 14.15px 22.64px -0.37px rgba(0, 0, 0, 0.1),
//       -17.54px -17.54px 28.66px 0px rgba(255, 255, 255, 0.05),
//       10px 10px 28.66px -11.7px rgba(0, 0, 0, 0.2),
  
//       1.58px 1.58px 1.7px 0px rgba(255, 255, 255, 1) inset,
//       -2.07px -2.64px 4.52px -1.51px rgba(0, 0, 0, 0.3) inset;
  
//     .logo-link {
//       display: flex;
//     }
//   }

// }

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0 22px; 
  
  position: fixed;
  top: 16px;
  z-index: 100;
  
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  width: 100%;
  max-width: 624px;

  height: 48px;
  border-radius: 64px;
  padding: 4px 8px 4px 16px;
  background-color: var(--header-bg);

  box-shadow:
    -2.82px -2.82px 8.49px 0px rgba(255, 255, 255, 0.3),
    14.15px 14.15px 22.64px -0.37px rgba(0, 0, 0, 0.1),
    -17.54px -17.54px 28.66px 0px rgba(255, 255, 255, 0.05),
    10px 10px 28.66px -11.7px rgba(0, 0, 0, 0.2),

    1.58px 1.58px 1.7px 0px rgba(255, 255, 255, 1) inset,
    -2.07px -2.64px 4.52px -1.51px rgba(0, 0, 0, 0.3) inset;

  .logo-link {
    display: flex;
  }
}