@use "/src/styles/utils/mixins.scss" as utils;

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 22px;

  position: fixed;
  top: 16px;
  z-index: 100;

  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 960px;

    height: 48px;
    border-radius: 64px;
    padding: 4px 8px 4px 16px;

    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      background-color: var(--header-bg);
      backdrop-filter: blur(6px);

      z-index: -1;
    }

    box-shadow: -2.82px -2.82px 8.49px 0px rgba(255, 255, 255, 0.3),
      14.15px 14.15px 22.64px -0.37px rgba(0, 0, 0, 0.1),
      -17.54px -17.54px 28.66px 0px rgba(255, 255, 255, 0.05),
      10px 10px 28.66px -11.7px rgba(0, 0, 0, 0.2),
      1.58px 1.58px 1.7px 0px rgba(255, 255, 255, 1) inset,
      -2.07px -2.64px 4.52px -1.51px rgba(0, 0, 0, 0.3) inset;

    .logo-link {
      display: flex;
      border-radius: 50px;
      transform: scale(1);
      transition: transform 0.2s ease, filter 0.2s ease;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.5));
      }

      &:active {
        @include utils.glass-active-effect;

        transform: scale(0.95);
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
      }
    }
  }
}
