@use "/src/styles/utils/mixins.scss" as utils;
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 22px;

  position: fixed;
  top: 16px;
  z-index: 100;

  width: 100%;


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  
    width: 100%;
    max-width: 960px;
  
    height: 48px;
    border-radius: 64px;
    padding: 4px 8px 4px 16px;
    background-color: var(--header-bg);
    backdrop-filter: blur(6px);
  
    box-shadow: -2.82px -2.82px 8.49px 0px rgba(255, 255, 255, 0.3),
      14.15px 14.15px 22.64px -0.37px rgba(0, 0, 0, 0.1),
      -17.54px -17.54px 28.66px 0px rgba(255, 255, 255, 0.05),
      10px 10px 28.66px -11.7px rgba(0, 0, 0, 0.2),
      1.58px 1.58px 1.7px 0px rgba(255, 255, 255, 1) inset,
      -2.07px -2.64px 4.52px -1.51px rgba(0, 0, 0, 0.3) inset;
  
    .logo-link {
      display: flex;
      border-radius: 50px;
      transition: box-shadow 0.1s ease, backdrop-filter 0.1s ease-in-out;
      
      @include utils.glass-hover-effect;

      &:active {
        @include utils.glass-active-effect;
      }
    }
  }
}

