.toggle {
  width: 48px;
  height: 24px;
  padding: 2px;
  display: flex;
  align-items: center;

  border-radius: 64px;
  background: rgba(255, 255, 255, 0);

  cursor: pointer;

  box-shadow: 
      0px 0px 34.77px 0px rgba(0, 0, 0, 0.2),
      0px -0.5px 0.25px 0px rgba(0, 0, 0, 0.3),
      0px 0.5px 0.75px 0px rgba(255, 255, 255, 0.4),

      0px 2.07px 3.73px 0px rgba(0, 0, 0, 0.4) inset,
      0px 1.08px 2.48px 0px rgba(0, 0, 0, 1) inset;

   &__indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%; 

    background: rgba(255, 255, 255, 0.01); 
    transition: transform 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
      0px 2.07px 3.73px 0px rgba(0, 0, 0, 0.4),
      0px 1.08px 2.48px 0px rgba(0, 0, 0, 1),

      0px 0px 34.77px 0px rgba(0, 0, 0, 0.2) inset,
      0px -0.5px 0.25px 0px rgba(0, 0, 0, 0.3) inset,
      0px 0.5px 0.75px 0px rgba(255, 255, 255, 0.4) inset;

    &--moved {
      transform: translate(24px);
    }
  }
}