@use "/src/styles/utils/mixins.scss" as utils;

.actions {
  display: flex;
  width: 162px;
  height: 32px;
  align-items: center;
  gap: 8px;

  .sign-in__button {
    width: 66px;
    height: 32px;
    padding: 4px 12px;

    border-radius: 64px;
    background-color: transparent;

    border: none;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;

    transition: box-shadow 0.1s ease, backdrop-filter 0.1s ease-in-out;

    @include utils.glass-hover-effect;

    &:active {
      @include utils.glass-active-effect;
    }
  }

  .burger-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;

    transition: box-shadow 0.1s ease, backdrop-filter 0.1s ease-in-out;

    @include utils.glass-hover-effect;

    &:active {
      @include utils.glass-active-effect;
    }
  }
}
