.info-section {
  max-width: 960px;
  margin: 0 auto;

  .subtitle {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.15px;
    text-align: center;
    padding-bottom: 16px;
    color: var(--color-main-text);
  }

  .main-list {
    padding-left: 17px;
    margin: 0;
    counter-reset: section-counter;

    .list-section {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      p {
        position: relative;
        padding-left: 5px;

        &::before {
          content: "";
          position: absolute;
          left: -7px;
          top: 10px;
          width: 3px;
          height: 3px;
          background-color: var(--color-main-text);
          border-radius: 50%;
        }
      }

      .details-list {
        padding-left: 23px;
      }
    }
  }
}
